# SPDX-License-Identifier: BSD-3-Clause
# Manager-owned safety/lifecycle settings. These override user settings.
video_window_save_positions = "false"
quit_on_close_content = "1"
config_save_on_exit = "false"
remap_save_on_exit = "false"
history_list_enable = "false"
content_runtime_log = "false"
content_runtime_log_aggregate = "false"
savefiles_in_content_dir = "false"
sort_savefiles_enable = "false"
sort_savefiles_by_content_enable = "false"
savestate_auto_save = "false"
savestate_auto_load = "false"
savestate_auto_index = "false"
savestate_thumbnail_enable = "false"
savestates_in_content_dir = "false"
sort_savestates_enable = "false"
sort_savestates_by_content_enable = "false"
state_slot = "0"
auto_overrides_enable = "false"
auto_remaps_enable = "false"
auto_shaders_enable = "false"
global_core_options = "true"
cheevos_enable = "false"
network_cmd_enable = "false"
stdin_cmd_enable = "false"
log_to_file = "false"
